body {
	box-sizing: border-box;
}

.btn {
	border-radius: 5px;
	cursor: pointer;
	border:none;
}
a {
    text-decoration: none;
}

.main-container {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 30px;
	min-height: calc(100vh - 180px);
	border-right: 2px solid rgba(199, 223, 255, 0.4);
	border-left: 2px solid rgba(199, 223, 255, 0.4);
}

.header-footer-container {
	padding: 0 30px;
	max-width: 900px;
	margin: 0 auto;
	// padding: 0 40px;
}

.form-container {
	max-width: 400px;
	padding: 50px;
	height: 300px;
	background-color: #c7dfff;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;

	.el-input {
		margin: 20px 0;
	}
	.el-button {
		margin: 20px 0;
	}
}

