@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400');


//General
* {
	font-family: 'Cabin', sans-serif;

}
body {
	font-family: 'Cabin', sans-serif;
	box-sizing: border-box;
	position: relative;
    &::before {
		content: '';
		  width: 100%;
		  height: 100%;
		  position: absolute;
		  opacity: 0.45;
		  background-image: url('../trivia_background.jpg');
		  z-index: -1;
		  background-repeat: no-repeat;
		  background-position: center;
		  background-size: cover; 
	 }
}

.btn {
	border-radius: 5px;
	cursor: pointer;
	border:none;
	padding: 10px;
	&:hover{
		background-color: #d1eeef;
	} 
}
a {
		cursor: pointer;
    text-decoration: none;
}
.main-container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 30px;
	min-height: calc(100vh - 113px);
	border-right: 2px solid rgba(249, 248, 245, 0.4);
	border-left: 2px solid rgba(249, 248, 245, 0.4);
}
.header-footer-container {
	padding: 0 30px;
	max-width: 1100px;
	margin: 0 auto;
}
.form-container {
	max-width: 400px;
	padding: 50px;
	height: 300px;
	background-color: rgba(249, 248, 246, 0.6);
	border: 1.5px solid #7ed0d4;
	border-radius: 10px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;

	.el-input {
		margin: 20px 0;
	}
	.el-button.is-plain {
		margin: 20px 0;
		color: #f9f8f6;
		background: #3CBCC3;
		border: none;
		&:hover{
			background-color: #d1eeef;
		} 
	}
}

// Enter Nickname box - joining the "party"
.swal-modal {  
  background-color: #f8f9f6;
	border: 2px solid #3CBCC3;
	position: relative;
	top: 70px;
	color: #1D1D2C;
}
.swal-button {
  background-color: #3CBCC3;
}
.swal-overlay {
	background-color: rgba(29, 29, 44, 0.65);
}
.scale-down {  // On Mobile Menu Opening
  opacity: 0.3;
  z-index: 0;
 transform: scale(0.6) translate(-140px, 0px)
}


//Game Branches
.game-branches {
	display: flex;
	justify-content: center;
	align-items: start;
}

//waiting for others to finish game - waiting msg
.waiting-modal-container {
	margin: 0 auto;
	display: flex;
	max-width: 1100px;
	max-height: 450px;
	align-items: center;
	justify-content: center;
	margin-top: 30px;

}
.waiting-for-others{
	background: url('https://media.giphy.com/media/o5oLImoQgGsKY/giphy.gif');
	background-position: center;
	background-repeat: no-repeat; 
	height: 420px;
	max-width: 390px;
	background-position-y: 80px;
	animation: jackInTheBox 0.7s linear;
	
	.msg-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}

	button {
		position: block;
		background-color: #3CBCC3;
		border: none;
		padding: 10px;
		color: #f9f8f6;
		// color: #F7F4E9;
		cursor: pointer;
		}
	.wait-txt {

		text-align: center;
	}
	.wait-txt h1 {
		font-size: 1.5rem;
		padding: 5px;
		display: inline-block;
	}
}

.players {
		margin-left: 20px;
}

//Game Screen
.hide-quest-section + div {
	margin-top: 40px;
	background-color: #f9f8f6;
	// background-color: #F7F4E9;
	padding: 50px 50px 50px 30px;
	box-shadow: -1px 0px 20px 12px #666666;
	border-radius: 10px;
	border: .5px solid #3CBCC3;
}
@media (max-width: 550px) {
	.hide-quest-section + div {
		margin-top: 10px;
		background-color: #f9f8f6;
		// background-color: #F7F4E9;
		padding: 10px;
		box-shadow: -1px 0px 20px 12px #666666;
		border-radius: 10px;
	}
}
.hide-quest-section {
	display: none;
}
.game-screen {
	margin-right: 20px;

  .quest-container {
		// margin: 50px auto 25px auto;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

  }
  .answer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;

  }
  .quest-txt {
    text-align: center;
		font-size: 2rem;
		padding-top: 15px;
		animation: slideInUp .3s linear;
		color: #1D1D2C;
  }    
  .quest-txt-single {
    width: 80%;
    margin: 0 auto;
  }    
  .quest-txt-party {
    max-width: 400px;
    text-align: center;
  }    

  .timer {
    font-size: 25px;
  }

  .redTimer {
    color: red;
  }

  .Two {
    font-size: 18px;
  }

  .One {
    padding: 5px;
    font-size: 30px;

  }

  .fadeOne-enter-active,
  .fadeOne-leave-active {
    transition: all 0.5s ease-out;
  }
  .fadeOne-enter,
  .fadeOne-leave-to {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    transform: translate(0%, 100%);
  }

  .fadeTwo-enter-active,
  .fadeTwo-leave-active {
    transition: all 0.5s ease-out;
  }
  .fadeTwo-enter,
  .fadeTwo-leave-to {
    clip-path: polygon(0% 100%, 100% 100%, 0% 100%, 0% 100%);
    transform: translate(0%, -100%);
  }

  .answer {
    margin-top: 20px;
    background: #ffae35;
    // background: #EBA63F;
    color: #1D1D2C;
    text-decoration: none;
    font-size: 1.1rem;
    border-radius: 30px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 330px;
    height: 55px;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
		box-shadow: -2px 3px 9px 0px #1D1D2C;
		// font-family: 'Merriweather', serif;
		font-weight: 300;
  }
  .answer:hover {
    cursor: pointer;
		text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
		-webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
		-moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
		transition: all 0.4s ease 0s;
		box-shadow: 0 4px 4px rgba(88, 88, 88, 0.32);
  }
  .answer:active {
		box-shadow: -2px 3px 9px 0px #1D1D2C;
    animation: nudge 0.4s linear;
  }
  .answerCorrect {
		box-shadow: -2px 3px 9px 0px #1D1D2C;		
    background: #438945;
  }
  .answerCorrect:hover {
		box-shadow: -2px 3px 9px 0px #1D1D2C;
    background: #438945;
  }
  .answerWrong {
		box-shadow: -2px 3px 9px 0px #1D1D2C;
    background: #E40C2B;
  }
  .answerWrong:hover {
		box-shadow: -2px 3px 9px 0px #1D1D2C;
    background: #E40C2B;
  }

}

//Continue party - resum counter+party summary
.resume-countdown-container {
	position: absolute;
	left: 0;
	top: 55px;
	width: 100vw;
}
.resume-countdown {
	color: #1D1D2C;
	font-size: 25px;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 12;
	position: relative;
	border: 3px solid #3cbcc3;
	border-radius: 7px;
	padding: 10px;
	width: 300px;
	animation: zoomIn 0.4s linear;
	margin: 0 auto;
	// margin-top: calc(15vh + 55px);
	margin-top: 40px;
	background-color: #f8f9f7;

	.txt {
			margin: 5px 0;
	}

	.countdown-btn {
		background-color: #3CBCC3;
		height: max-content;
		color: #1D1D2C;
		margin: 5px 0;
		align-self: flex-end;
		padding: 5px 7px;
	}
	.time-remaining {
		display: inline-flex;;
		width: 20px;
	}
}

@keyframes nudge {
  0% {
    transform: rotate(-7deg);
  }

  33% {
    transform: rotate(7deg);
  }

  66% {
    transform: rotate(-7deg);
  }
}
@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes jackInTheBox {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(30deg);
    transform: scale(0.1) rotate(30deg);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }

  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  70% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media (max-width: 800px) {
	.waiting-modal-container {
		margin-top: 10px;
	}
	
	.players {
		margin: 25px 0;
	}
	.game-screen {
		margin-right: 0;
		.quest-container {
			margin: 0 auto;
		}
		.quest-txt {
			padding-top: 0;
			
		}
		.answer:hover {
			transition: none;
		}
	}

}

@media (max-width: 500px) {
	.game-screen {
		.quest-txt {
			font-size: 1.2rem;
		}
	}
	.waiting-modal-container {
		.waiting-for-others{	
			height: 380px;
			max-width: 380px;
			background-position-y: 60px;	
			button {
				padding: 10px;
			}
			.wait-txt h1 {
				font-size: 1.2rem;
				padding: 4px;
				width: 250px;
					
			}
		}	
	}

	.resume-countdown {
		width: 280px;
		.txt {
			margin: 5px 0;
			font-size: 20px;
		}
		.countdown-btn {
			padding: 8px;
		}
	}
}
@media (max-width: 390px) {

}